{% extends "layout.html" %}

{% block title %} {{ titre }} {% endblock %}

{% block head %} 
   {{ super() }}
{% endblock %}

{% block content %}

<h1>Trading App</h1>
<p>Et interdum acciderat, ut siquid in penetrali secreto nullo citerioris vitae ministro praesente 
    paterfamilias uxori susurrasset in aurem, velut Amphiarao referente aut Marcio, quondam vatibus inclitis, 
    postridie disceret imperator. ideoque etiam parietes arcanorum soli conscii timebantur.</p>

<h3> Choose a company</h3>
<select id="select-stock" name="companies">
    {% for symbol, company in companies %}
        <option value="{{ symbol }}">{{ company }}</option>
    {% endfor %}
</select>

<div id="time_series" style="width:1000px; height:500px;"></div>

<div>
    <button id="predict-stock" name="predict">Predict</button>
</div>

<form method="POST" action="{{ url_for('predict') }}">
    <div class="form-group">
      <label for="nom_user">Nom</label>
      <input type="text" class="form-control" id="nom_user" name="nom_user" placeholder="John Doe">
    </div>
    <div class="form-group">
        <textarea class="form-control" name="comment" cols="30" rows="6" placeholder="Bonjour Hotel Simplon, "></textarea>
    </div>
    <button type="submit" class="btn btn-primary s-btn">Submit</button>
</form> 

{% endblock %}

{% block project_title %} {{ titre }} {% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block graph %}
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    time_series = document.getElementById('time_series')

    {% autoescape false %}
      var prices = {{ prices }}
      var dates = {{ dates }}
    {% endautoescape %}

    // print default plot
    plot_graph(time_series, dates, prices, "{{ symbol }}")


    // AJAX - reload graph when changing stock
    $(function() {
      $('#select-stock').bind('change', function() {
        var symb = $( "#select-stock option:selected").val()
        $.getJSON($SCRIPT_ROOT + '/_reload_time_serie', {
          symbol: symb
        }, function(data) {
          // plot
          dates = JSON.parse(data.dates)
          prices = JSON.parse(data.prices)
          plot_graph(time_series, dates, prices, symb)
        });
        return false;
      });
    });
    // END AJAX

    function plot_graph(tag, dates, prices, symbol) {
      var trace = {
        x: dates,
        y: prices,
        name : symbol
    };

      var data = [trace];

      var layout = {
        showlegend: true,
        legend: {
          x: 1,
          xanchor: 'right',
          y: 1
        }
      };
      Plotly.newPlot(tag, data, layout);
    }
    </script>
{% endblock %}